
.name {
    padding-top: 400px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease, padding-top 1s ease;
    transform-origin: top center;
}
.name.visible {
    opacity: 1;
}

.name h1 {
    font-size: 12em;
    margin: 0;
    transition: font-size 1s ease;
    text-shadow: 0 0 100px #006466;
}

.name.resized {

    padding-top: 250px;
    transform: scale(0.8) translate(240px, 120px);
}

.name.resized h1 {
    
    font-size: 10em;
    text-shadow: 0 0 100px #006466;
}

body {
    transition: inherit;
}

.amazing-tabs {
    opacity: 0;
    transition: opacity 1s ease;
}

.amazing-tabs.visible {
    opacity: 1;
}

.content {
    align-self: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.content h2 {
   
    padding: 10px;
    color: white;
    font-size: 3em;
    font-weight: 100;
    text-align: justify;
    margin: 0; 
    text-shadow: 0 0 100px #006466;
}

.avatar-container img.profile {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    box-shadow: 1px 1px 90px #006466;
    display: block; 
}

.containerdets {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    padding: 30px;
    margin: 0 auto; 
    
}

.text-container {
    flex: 1; 
    padding-left: 30px; 
}

.avatar-container {
    margin-right: 20px; 
}