
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
    background-color: BLACK;
}


button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}


nav.amazing-tabs {
    width: 100%;
    user-select: none;
    padding-top: 30px;
    position: fixed;
    top: 0;
    z-index: 100;
    padding-left: 1350px;
    
}


.main-tabs-container {
    padding: 0 15rem 1rem 15rem;
}


.main-tabs-wrapper {
    position: relative;
}


ul.main-tabs {
    list-style-type: none;
    display: flex;
}


ul.main-tabs li {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  position: relative;
  padding: 1.5rem;
  z-index: 1;
}


.avatar,
.avatar img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    pointer-events: none;
}

.avatar img {
    object-fit: cover;
}

.round-button {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-900);
    transition: color 0.2s ease-in-out;
}

.round-button:hover,
.round-button.active {
    color: var(--round-button-active-color);
}

.round-button img {
    pointer-events: none;
    height: 35px;
    width: 40px;
}

.main-slider {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 0;
    transition: transform 0.4s ease-in-out;
    transform: translateX(100%); 
}


.main-slider-circle {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;
    background-color: var(--main-slider-color);
}

.round-button[data-translate-value="400%"] {
    color: var(--round-button-active-color);
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}